<h1>Welcome to your profile {{userData.name}}</h1>

<h2>Your User data:</h2>
<h6>name: {{userData.name}}</h6>
<h6>email: {{userData.email}}</h6>
<h6>password: {{userData.password}}</h6>
<h6>address: {{userData.address}}</h6>
<h6>city: {{userData.city}}</h6>
<h6>country: {{userData.country}}</h6>
<h6>your pet preference: {{userData.guestPet}}</h6>
<h6>about you: {{userData.aboutMe}}</h6>


 <a href="/{{userData._id}}/guestEdit"> <button type="button" class="btn btn-outline-secondary">Edit your details</button></a>
 <a href="/{{userData._id}}/guestDelete"> <button type="button" class="btn btn-outline-secondary">Delete your details</button></a>
