<h1>{{userData.name}} edit your data here:</h1>


<div class="sign-up-in-container edit-container">
  <div class="owner-form">
    <form method="POST" action="/{{userData._id}}/ownerEdit">
      <div class="guest-form">

        <label for="example-name" class="form-label">Name</label>
        <input value="{{userData.name}}" name="ownerName" type="text" class="form-control" id="example-name">

        <label for="example-input-email" class="form-label">Email</label>
        <input value="{{userData.email}}" name="ownerEmail" type="Email" class="form-control" id="example-email">
        <label for="example-street" class="form-label">Address</label>
        <input value="{{userData.address}}" name="ownerAddress" type="text" class="form-control" id="example-address">
      
      <br>

      <div class="form-check owner-form">
        <input value="Amsterdam" class="form-check-input" type="radio" name="ownerCity" id="flexRadioDefault1">
        <label class="formCheckLabel" for="Amsterdam" >Amsterdam</label>
      </div>
      <div class="form-check owner-form"> 
          <input value="Berlin" class="form-check-input"  type="radio" name="ownerCity" id="flexRadioDefault2">
          <label class="formCheckLabel" for="Berlin">Berlin</label>
      </div>

      <br>
        <div>
          <div class="form-check owner-form">
            <input value="Netherlands" class="form-check-input" type="radio" name="ownerCountry" id="flexRadioDefault1">
            <label class="formCheckLabel" for="Netherlands">
              Netherlands
            </label>
          </div>
              <div class="form-check owner-form">
                <input value="Germany" class="form-check-input"  type="radio" name="ownerCountry" id="flexRadioDefault2">
                <label class="formCheckLabel" for="Germany">
                  Germany
                </label>
              </div>
        </div>

        <br>
          <div class="form-check owner-form">
              <input value="cat" class="form-check-input" type="radio" name="ownerPet" id="flexRadioDefault1">
              <label class="formCheckLabel" for="cat" >Cat</label>
            </div>
            <div class="form-check owner-form">
              <input value="dog" class="form-check-input" type="radio" name="ownerPet" id="flexRadioDefault1">
              <label class="formCheckLabel" for="dog">Dog</label>
            </div>
            <div class="form-check owner-form">
              <input value="both" class="form-check-input" type="radio" name="ownerPet" id="flexRadioDefault1">
              <label class="formCheckLabel" for="both">Both</label>
            </div>
        
        <br>

            <div class="owner-form">
              <label for="example-name" class="form-label">About me</label>
              <input value="{{userData.aboutMe}}" name="aboutMe" type="text" class="form-control" id="example-name"></div>
               <button type="submit" class="btn btn-primary blue-btn btn-go-and-find blue-btn">edit</button>

    </form>
  </div>
</div>

<div class="upload">
  <h2>Upload your image here</h2>

<form method="POST" action="/uploadOwner" enctype="multipart/form-data">
    <input type="file" name="imageUrl" accept="image/png, image/jpg" value= {{userData.image}}>
    <button type="submit" class="btn btn-primary blue-btn btn-go-and-find blue-btn">submit</button> 
</form>  


<div class="guest-form">
    <label for="example-image" class="form-label">image</label>
    <input name="imageUrl" type="file" class="form-control" value= id="example-image">
  </div>

</div>



    
