<h1 class="greetingsTwo">Find your perfect match!</h1>

<form method="POST" action="/filteredGuests">

{{#each cities}}

  <div class="form-check guest-form">
    <input value="{{this}}" class="form-check-input" type="radio" name="guestCity" id="flexRadioDefault1">
    <label class="formCheckLabel" for="{{this}}" >{{this}}</label>
  </div>
{{/each}}

{{#each petType}}
  <div class="form-check guest-form">
    <input value="{{this}}" class="form-check-input" type="radio" name="guestPet" id="flexRadioDefault1">
    <label class="formCheckLabel" for="{{this}}" >{{this}}</label>
  </div>
  {{/each}}

  <button type="submit" class="btn btn-primary">Search</button>
  </form>

 {{#each guests}}
  <a href="/allguests/{{ this._id }}"></a>
      <div>{{this.name}}</div>  
      <div>{{this.city}}</div>
      {{!-- <button type="button" class="btn btn-outline-secondary">Go to profile</button></a> --}}
      <a class="nav-link" href="/{{this._id}}/guestdetails"><button type="button" class="btn btn-outline-secondary">Go to profile</button></a>
      <br>
{{/each}}