<h1 class="greetingsTwo">Here are your matches!</h1>

<div class="btn-container">
  <a href="/allguests" class="btn btn-primary btn-go-and-find new-btn">edit search</a>
</div>

<div class="one">
  {{#each result}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.image}}" alt="">
         <div class="card-body">
        <a href="/filteredGuests/{{ this._id }}"></a>
        <p class="card-title">{{this.name}}</p>  
        <h5 class="card-text city">{{this.city}}</h5>
        <a href="/{{this._id}}/guestdetails" class="btn btn-primary stretched-link card-btn">go to profile</a>     
  {{/each}} 
</div>
