<h1>Here are your matches</h1>

<a href="/allpetowners">Edit your search</a>

{{#each result}}
  <a href="/allpetowners/{{ this._id }}"></a>
      <div>{{this.name}} & {{this.ownerPetName}} </div>  
      <div>{{this.city}}</div>
      <a class="nav-link" href="/{{this._id}}/ownerdetails"><button type="button" class="btn btn-outline-secondary">Go to profile</button></a>
      <br>
      
 {{/each}} 