<h1>Get to know your potential guest:</h1>

      <div><img src="{{result.image}}" alt=""></div>
      <div>{{result.name}}</div>  
      <div>{{result.city}}</div>
      <div>{{result.email}}</div>
      <div>{{result.aboutMe}}</div>
      <br>