
<h1 class="greetings">Nice to meet you!</h1>

<div class="two">
 
    <div class="card" style="width: 30rem;">
      <img src="{{result.image}}" alt="">
        <div class="card-body-profile">
        
          <h3 class="profile">{{result.name}}</h3>  
          <p class="profile">{{result.city}}</p>
          <p class="profile">{{result.email}}</p>
          <p class="profile">{{result.aboutMe}}</p>

      </div>
         
</div>