<h1>Get to know your potential host:</h1>


      <div>{{result.name}} and {{result.ownerPetName}} </div>  
      <div>{{result.city}}</div>
      <div>{{result.email}}</div>
      <div>{{result.aboutMe}}</div>
      <br>


 