<h1 class="greetings">Nice to meet you!</h1>
      {{!-- If the owner has an image it will display it, if not it won't display nothing --}}


{{!-- {{#if userData}}
<a href="/Profile">Profile</a>
{{/if}} --}}

 <div class="two">
 
    <div class="card" style="width: 30rem;">
      {{#if result.image}}
      <img src="{{result.image}}" alt="Owner_photo">
      {{/if}}
        <div class="card-body-profile">
        
          <h3 class="profile">{{result.name}} and {{result.ownerPetName}}</h3>  
          <p class="profile">{{result.city}}</p>
          <p class="profile">{{result.email}}</p>
          <p class="profile">{{result.aboutMe}}</p>

      </div>
         
</div>